<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search by title</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/books/searching}" th:object="${Book}">
    <label for="title">Enter name: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</div>
    <br/>
    <input type="search" value="search !"/>
</form>



<div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
<p th:text="${'Title is ' + Book.getTitle()}">VALUE</p>
<p th:text="${'author is ' + Book.getAuthor}">VALUE</p>






</body>
</html>