<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor()}">VALUE</p>
<p th:text="${'year: ' + book.getYear()}">VALUE</p>
<p th:text="${book.getId()}">VALUE</p>


<div th:if="${owner}">
    <span>This book is taken a host: </span> <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/books/{id}/deleteHost(id=${book.getId()})}">
        <input type="submit" value="Host is deleted"/>
    </form>
</div>

<br/>
<div th:if="${people}">
    <span>This book is free, whose need to take it ?</span>
<form th:method="PATCH" th:action="@{/books/{id}/addHost(id=${book.getId()})}">
    <label for="person"> take a host: </label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getFullname()}"></option>
    </select>
    <input type="submit" value="Host is added"/>
</form>
</div>

<br/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>